


#memorize {
    display: flex;

}

#numero1 {
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
}
#numero2{
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
}
#numero3 {
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
}
#numero4 {
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
}
#numero5 {
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
}

