
#count {
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
}

#memorize {
    display: flex;

}

#numero1 {
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
}
#numero2{
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
}
#numero3 {
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
}
#numero4 {
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
}
#numero5 {
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
}

.hidden {
    display: none;
}

#putNumbers {
    display: flex;
    flex-direction: column;
}

#inserisci1 {
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
}
#inserisci2{
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
}
#inserisci3 {
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
}
#inserisci4 {
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
}
#inserisci5 {
    font-size: 20px;
    border: 1px solid black;
    padding: 5px;
}

.block {
    display: block
}

